<head>
    <style>
        table {
            border: 1px solid black;
        }
        td {
            border: 1px solid black;
            padding: 3px;
        }

    </style>
</head>

<h1>Scalica Scourer</h1>
<form method="GET" action="/search">
  <input type="text" name="query"/>
  <input type="submit"/>
</form>
<table>
<tr>
    <th>ID</th>
    <th>Content</th>
    <th>User</th>
    <th>Post Date</th>
</tr>
{% for message in message_list%}
<tr>
    <td>{{ message[0]["message_id"] }}</td>
    <td>{{ message[0]["content"] }}</td>
    <td>{{ message[0]["username"] }}</td>
    <td>{{ message[0]["post_date"] }}</td>
</tr>
{% endfor %}
</table>